{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <link href='https://css.gg/add-r.css' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Django blog</title>
        <title>line-height</title>
        <style>
            p {
                line-height: 1.5;
            }
        </style>

    </head>
    <body>
        <div class="page-header">
            <a href="/admin/" class="admin"><span class="glyphicon glyphicon-user"></span></a>
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu">NEW POST   </a>
                <a href="{% url 'post_new'%}" class="plus"> <span class="gg-add-r"></span></a>
            {% endif %}

            <h1><a href="/">My way to being Backend-Developer </a></h1>


        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>